<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.userData.name %>'s profile - Printwear</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta3/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
</head>

<body>
    <div class="banner">
        <%- include('partials/side-logo.ejs') %>
            <%- include('partials/top.ejs') %>
    </div>
    
    <!-- <div class="profile">
        <div class="left">
            <div class="prof">
                <div class="img">
                    <img src='<%= data.userData.profileImage %>' id="pht">
                </div>
                <div class="hd">
                    <h2>
                        <%= data.userData.name %>
                    </h2>
                </div>
            </div>
            <div class="details">
                <div class="same">
                    <div class="sm">
                        <h5>First Name</h5>
                        <p>
                            <%= data.userData.firstName %>
                        </p>
                    </div>
                    <div class="sm">
                        <h5>Last Name</h5>
                        <p>
                            <%= data.userData.lastName %>
                        </p>
                    </div>
                </div>
                <div class="same">
                    <div class="sm">
                        <h5>Email</h5>
                        <p>
                            <%= data.userData.email %>
                        </p>
                    </div>
                    <div class="sm">
                        <h5>Phn_No</h5>
                        <p>
                            <%= data.userData.phone %>
                        </p>
                    </div>
                </div>
                <div class="same">
                    <div class="sm">
                        <h5>Password</h5>
                        <p>*********</p>
                    </div>
                </div>
                <div class="same">
                    <a href="#">Change password</a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="righttop">
                <h3>Your Shopify Stores:</h3>
                <div class="det">
                    <h5>Shopify Store Name:</h5>
                    <p>
                        <%= data.storeData?.shopifyStore?.shopName %>
                    </p>
                </div>
                <div class="det">
                    <h5>Shopify Store URL:</h5>
                    <p>
                        <%= data.storeData?.shopifyStore.shopifyStoreURL %>
                    </p>
                </div>
                <div class="det">
                    <a href="/stock">Stock data&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
            <div class="rightbot">
                <h3>Your WooCommerce Stores:</h3>
                <div class="det">
                    <h5>WooCommerce Store Name:</h5>
                    <p>
                        <%= data.storeData?.wooCommerceStore.shopName %>
                    </p>
                </div>
                <div class="det">
                    <h5>WooCommerce Store URL:</h5>
                    <p>
                        <%= data.storeData?.wooCommerceStore.url %>
                    </p>
                </div>
                <div class="det">
                    <a href="#">Stock data&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div>
        </div>
    </div> -->
    
    <div class="profile" 
    style="
        padding: 1rem;
        padding-left: 300px;
        padding-top: 6rem;
        margin: auto;
    ">
        <h4 class="font-weight-bold py-3 mb-4">
            Account settings
        </h4>
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account-general">General</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-change-password">Change password</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#gst-info">GST Details</a>
                        <a class="list-group-item list-group-item-action" data-toggle="list"
                            href="#account-connections">My stores</a>
                        <a class="list-group-item bg-danger text-white   list-group-item-action" data-toggle="list"
                            href="#account-info">Delete Account</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-general">
                            <hr class="border-light m-0">
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">Username</label>
                                    <input type="text" name="username" class="form-control" value="<%= data.userData.name ? data.userData.name : '' %>" <%= data.userData.name ? 'disabled' : '' %> >
                                </div>
                                <div class="form-group">
                                    <label class="form-label">First Name</label>
                                    <input type="text" name="firstName" id="first-name" class="form-control" required value="<%= data.userData.firstName ? data.userData.firstName : '' %>" <%= data.userData.firstName ? 'disabled' : '' %>>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" name="lastName" id="last-name" class="form-control" required value="<%= data.userData.lastName ? data.userData.lastName : '' %>" <%= data.userData.lastName ? 'disabled' : '' %>>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">E-mail</label>
                                    <input type="text" class="form-control mb-1" value="<%= data.userData.email %>" disabled>
                                    <!-- <div class="alert alert-warning mt-3">
                                        Your email is not confirmed. Please check your inbox.<br>
                                        <a href="javascript:void(0)">Resend confirmation</a>
                                    </div> -->
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Phone</label>
                                    <input type="text" class="form-control" value="<%= data.userData.phone %>" disabled>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Your Brand Name</label>
                                    <input type="text" name="brandName" required class="form-control" id="brand-name" value="<%= data.userData.brandName ? data.userData.brandName : '' %>" <%= data.userData.brandName ? 'disabled' : '' %>>
                                </div>
                                <div class="text-right mt-3">
                                    <button type="button" onclick="changeName()" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-change-password">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input type="password" id="current-pwd" required="true" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" id="new-pwd" required="true" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" id="confirm-pwd" required="true" class="form-control">
                                </div>
                                <div class="text-right mt-3">
                                    <button type="button" onclick="changePassword()" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="gst-info">
                            <div class="alert mt-3">
                                <p>Configure your GST details.</p>
                            </div>
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Enter GST No.</label>
                                    <input type="text" class="form-control" placeholder="">
                                </div>
                                <div class="text-right mt-3">
                                    <button type="button" onclick="saveGST()" class="btn btn-danger">Save changes</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-info">
                            <div class="alert alert-danger mt-3">
                                <p>Deleting account is irreversible and you will permanently delete all data, designs, store details, orders, etc.</p>
                            </div>
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Enter password</label>
                                    <input type="text" class="form-control" placeholder="Your password">
                                </div>
                                <div class="text-right mt-3">
                                    <button type="button" onclick="deleteUser()" class="btn btn-danger">Save changes</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-connections">
                            <div class="card-body">
                                <h4>WooCommerce Store:</h4>
                                
                                <% if (data.storeData?.wooCommerceStore?.shopName) { %>
                                    <div class="form-group">
                                        <label class="form-label">WooCommerce Store name:</label>
                                        <input type="text" class="form-control" disabled value="<%= data.storeData?.wooCommerceStore?.shopName?? 'Not yet connected' %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">WooCommerce Consumer Key:</label>
                                        <input type="text" class="form-control" disabled value="<%= data.storeData?.wooCommerceStore?.consumerKey?? 'Not yet connected' %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">WooCommerce Store URL:</label>
                                        <input type="text" class="form-control" disabled value="<%= data.storeData?.wooCommerceStore?.url?? 'Not yet connected' %>">
                                    </div>
                                <% } else { %>
                                    <div class="text-left mt-3">
                                        <button type="button" onclick="location.href = '/connectstore'" class="btn btn-primary">Connect to store</button>
                                    </div>
                                <% } %>                             
                            </div>
                            <div class="card-body">
                                <h4>Shopify Store:</h4>
                                <% if (data.storeData?.shopifyStore?.shopName) { %>
                                    <div class="form-group">
                                        <label class="form-label">Shopify Store name:</label>
                                        <input type="text" class="form-control" disabled value="<%= data.storeData?.shopifyStore?.shopName?? 'Not yet connected' %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Shopify Access Token:</label>
                                        <input type="text" class="form-control" disabled value="<%= data.storeData?.shopifyStore?.shopifyAccessToken?? 'Not yet connected' %>">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Shopify Store URL:</label>
                                        <input type="text" class="form-control" disabled value="<%= data.storeData?.shopifyStore?.shopifyStoreURL?? 'Not yet connected' %>">
                                    </div>
                                <% } else { %>
                                    <div class="text-left mt-3">
                                        <button type="button" onclick="location.href = '/connectstore'" class="btn btn-primary">Connect to store</button>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var notyf = new Notyf();

        const changePassword = async () => {
            const currentPwd = document.getElementById('current-pwd');
            const newPwd = document.getElementById('new-pwd');
            const confirmPwd = document.getElementById('confirm-pwd');
            for(let i of [currentPwd, newPwd, confirmPwd]) {
                if (!i.reportValidity()) return;
            }
            try {
                const changePasswordRequest = await fetch("/changepassword", {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({
                        currentPwd: currentPwd.value ,
                        newPwd: newPwd.value ,
                        confirmPwd: confirmPwd.value 
                    })
                });
                const changePasswordResponse = await changePasswordRequest.json();
                console.log(changePasswordResponse)
                if (changePasswordRequest.ok) {
                    return notyf.success("Password changed successfully!");
                } else if (changePasswordRequest.status === 400) {
                    return notyf.error(changePasswordResponse.message);
                } else {
                    return notyf.error("Password could not be changed!");
                }
            } catch (error) {
                console.log(error);
                return notyf.error("Something went wrong!");
            }
        }

        const saveGST = () => {
            notyf.success("Details saved!");
        }

        const changeName = async () => {
            const firstNameInput = document.querySelector("#first-name");
            const lastNameInput = document.querySelector("#last-name");
            const brandNameInput = document.querySelector("#brand-name");
            for(let i of [firstNameInput, lastNameInput, brandNameInput]) if (!i.reportValidity()) return;
            try {
                const updateInfoRequest = await fetch("/updateinfo", {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST',
                    body: JSON.stringify({
                        firstName: firstNameInput.value,
                        lastName: lastNameInput.value,
                        brandName: brandNameInput.value
                    })
                });
                const updateInfoResponse = await updateInfoRequest.json();
                if (updateInfoRequest.ok) {
                    return notyf.success("Information updated successfully!");
                    location.reload();
                } else if (updateInfoRequest.status === 400) {
                    return notyf.error(updateInfoResponse.message);
                } else {
                    return notyf.error("Information could not be changed!");
                }
            } catch (error) {
                console.log(error);
                notyf.error('Something went wrong!');
            } 
        }

        const deleteUser = async () => {
            console.log("Delete account triggered!");
        }
    </script>
</body>

</html>